<h1>LogIn</h1>
<form action="/login" method="post">
  <label>Email</label>
  <input type="email" name="txtEmail" value="{{txtEmail}}"
   placeholder="Please Enter Email"
   /><br />
  <label>PassWord</label>
  <input type="password" name="txtPassword"
   placeholder="Please Enter Password"
   /><br />
  <input type="submit" value="Start Session" name="btnSignin" />
 </form>
