<h1 class="center">Iniciar Sesión</h1>
  <form action="/SumOfTwoNumbers" method="post">
    <label>First Number</label>
    <input type="number" name='txtfirstnumber'
         value="{{txtfirstnumber}}"
         placeholder="Please Input a Number"
         /><br />

   <label>Second Number</label>
   <input type="number" name='txtsecondnumber'
        value="{{txtsecondnumber}}"
        placeholder="Please Input a Number"
         /><br />

  <label>Sum</label>
  <input type="number" name='txtsum'
      value="{{txtsum}}"
         /><br />
